<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.unchat.riot.alpha"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:label="UnChat - Cat" tools:replace="label">

        <receiver android:name=".receiver.OnApplicationUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>